.App {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        color: #d40d0d;
        background-color: rgb(223, 238, 243);
    }
.todo-container{
   flex-direction: column;
   display: flex;
}
.todo-container ul li{
    width: 180px;
    font-size: 18px;
    overflow-wrap: break-word;
    list-style-type:"✅";
    cursor: pointer;
}
.input{
    border-radius:15px;
    border: none;
    height: 30px;
    box-shadow: 1px 1px 1px #a5aac0, -1px -1px 1px #363636;
    color:#ae9b9b;
}
.btn{
    border-radius: 15px;
    background-color: rgb(91, 240, 191);
    height: 30px;
    box-shadow: 1px 1px 1px #a5aac0, -1px -1px 1px #363636;
    cursor: pointer;
    margin-top: 15px;
    text-decoration: double;
}

h2 {
        text-align: center;}

ul {
    padding: 1;
    }
li {
          
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ccc;
            padding: 10px 0;
        }      
        
.done{
   
    text-decoration: line-through;
}        
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trash{
    cursor: pointer;
}